{% extends 'base.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block body %}

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_service_index') }}">back to listtt</a>
{% endblock %}
