{% extends is_granted('ROLE_ADMIN') ? 'base_admin.html.twig' : 'base.html.twig' %}

{% block title %}Détails de la Parcelle{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AGRICULTEUR') %}
        {{ include('parcelle/_show_content.html.twig') }}
    {% else %}
        <div class="alert alert-danger">Access Denied</div>
    {% endif %}
{% endblock %}
